
.teams-container {
    width: 100%;
}

.teams-container h3 {
    text-align: center;
    font-size: 30px;
}

.teams-container h3 img {
    width: 30px;
    margin: 0px 10px;
    position: relative;
    top: 3px;
}

.fixture-list-container {
    margin: 0 20px;
}

.fixture-tables-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.fixture-list-container table.styled-table {
    margin: 0px auto 50px auto;
}

.fixture-list-container td {
    padding: 4px 8px;
}

.fixture-list-container td a {
    text-decoration: none;
    font-weight: bold;
}


@media screen and (max-width: 1000px) {
    .teams-container h3 {
        font-size: 24px;
    }

    .teams-container h3 img {
        position: relative;
        top: 6px;
    }

    .fixture-list-container th,
    .fixture-list-container td {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .teams-container h3 {
        font-size: 20px;
        margin: 16px auto;
    }

    .fixture-list-container th,
    .fixture-list-container td {
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {
    .fixture-tables-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .teams-container h3 {
        font-size: 18px;
        margin: 14px auto;
    }

    .fixture-list-container th,
    .fixture-list-container td {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    .fixture-list-container th, 
    .fixture-list-container td {
        font-size: 11px;
    }
}